* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background: white;
  font-family: $font-primary;
  line-height: 1.7;
  color: $color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  line-height: 1;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font: inherit;
}
